<!--  OAuth Form -->
<div class="container col-xs-12">
	<div class="row col-xs-12">
		<form class="form-horizontal" name="AccessTokenForm"
			ng-controller="AccessTabController as accessTabCtrl"
			ng-submit="accessTabCtrl.exchangeToken(main)">
			<legend>Access Token Exchange</legend>

			<fieldset>
				<!--  First row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="code">Authorization Code*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="accessTabCtrl.tokenData.code"
							class="form-control input-sm" id="code" readonly title="The parsed authorization code requested from Step 1." required/>
					</div>

					<label class="input-sm control-label col-xs-2" for="refreshToken">Refresh Token:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="accessTabCtrl.tokenData.refreshToken"
							class="form-control input-sm" id="refreshToken" readonly title="The parsed refresh token requested in this step. Can be empty if not present in the response."/>
					</div>

				</div>

				<!--  Second row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="accessToken">Access Token:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="accessTabCtrl.tokenData.accessToken"
							class="form-control input-sm" id="accessToken" readonly title="The parsed access token requested in this step."/>
					</div>

					<label class="input-sm control-label col-xs-2" for="expirationDate">Expiration Date:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="accessTabCtrl.tokenData.expirationDate"
							class="form-control input-sm" id="expirationDate" readonly 
							title="The parsed expiration date of the access token requested in this step. The value is parsed from the 'expires_in' property in the response and can be empty if the property is not present."/>
					</div>

				</div>


				<!--  Third row -->
				<div class="form-group">
					<div class="col-xs-2"></div>
					<div class="input-xs col-xs-4">
						<input type="submit" class="btn btn-primary pull-left input-xs"
							value="Get Access Token" />
					</div>

					<div class="col-xs-2"></div>
					<div class="input-xs col-xs-4">
						<input ng-click="accessTabCtrl.refreshToken(main)" class="btn btn-primary pull-left input-xs"
							value="Refresh Token" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>