<!--  OAuth Form -->
<div class="container col-xs-12">
	<div class="row col-xs-12">
		<form class="form-horizontal" name="invokeApiForm"
			ng-controller="ApiTabController as apiTabCtrl"
			ng-submit="invoke(main)">
			<legend>Test API Invocation</legend>

			<fieldset>
				<!--  First row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="apiUrl">API URL*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="apiUrl"
							class="form-control input-sm" id="apiUrl" ng-mouseover="loadTokenData()" ng-change = "updateheaders()" required
							title="The full URL of the secured API to test."/>
					</div>

					<label class="input-sm control-label col-xs-2" for="accessToken">Access Token:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="accessToken"
							class="form-control input-sm" id="accessToken" readonly 
							title="The access token parsed from Step 2."/>
					</div>

				</div>

				<!--  Second row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="headers">HTTP Header(s)*:</label>
					<div class="input-xs col-xs-10">
						<textarea class="form-control" rows="1" ng-mouseover="loadTokenData()" id="headers"
						title="Headers to be passed to the HTTP call. Format: header=value, header2=value2"
							ng-model="headers" validate-headers required></textarea>

					</div>

				</div>

				<!--  Third row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="jsonString">POST JSON String:</label>
					<div class="input-xs col-xs-10">
						<textarea class="form-control" rows="1" id="jsonString" placeholder="{ &quot;name&quot;:&quot;value&quot; }"
						title="JSON which will be sent only with the HTTP POST request. Example { &quot;name&quot;:&quot;value&quot; }"
							ng-model="jsonString" ng-required="method=='POST'"></textarea>

					</div>

				</div>


				<!--  4th row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="method">HTTP Method:</label>
					<div class="input-xs col-xs-2">
						<select id ="method" ng-model="method" class="form-control" ng-options="methods for methods in ['GET','POST']" title="HTTP Method" >
						</select>
					</div>
					<div class="input-xs col-xs-2">
						<input type="submit" ng-disabled="invokeApiForm.$invalid" class="btn btn-primary pull-left input-xs"
							value="Invoke" />
					</div>

				</div>
			</fieldset>
		</form>
	</div>
</div>