
<section>
	<ul class="nav nav-pills">
		<li ng-class="{ active:tab.isSet(1) }"><a href
			ng-click="tab.setTab(1)">Step 1</a></li>
		<li ng-class="{ active:tab.isSet(2) }"><a href
			ng-click="tab.setTab(2)">Step 2</a></li>
		<li ng-class="{ active:tab.isSet(3) }"><a href
			ng-click="tab.setTab(3)">Step 3</a></li>
	</ul>

	<!--  OAuth Data  -->
	<oauth-tab ng-show="tab.isSet(1)" ></oauth-tab>

	<!--  Access Token Tab -->
	<access-tab ng-show="tab.isSet(2)"></access-tab>

	<!--  API Tab  -->
	<api-tab ng-show="tab.isSet(3)"></api-tab>

</section>
