<!--  OAuth Form -->
<div class="container col-xs-12">
	<div class="row col-xs-12">
		<form class="form-horizontal" name="OauthDataForm"
			ng-controller="OauthTabController as oauthTabCtrl"
			ng-submit="requestAuthorizationToken(main)">
			<legend>OAuth2 Details</legend>

			<fieldset>
				<!--  First row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="callbackUrl">Callback
						URL*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.callbackUrl"
							class="form-control input-sm" id="callbackUrl" readonly 
							title="The Callback URL of this  application, which needs to be registered in the API Portal. The value is read from the client.properties file."/>
					</div>

					<label class="input-sm control-label col-xs-2" for="oauthServerUrl">Authorization
						URL*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.oauthServerUrl"
							class="form-control input-sm" id="oauthServerUrl"
							ng-change="updateUrlToBeInvoked()" required 
							title="URL of the OAuth Server's authorization endpoint."/>
					</div>

				</div>

				<!--  Second row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="clientId">Client
						ID*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.clientId"
							class="form-control input-sm" id="clientId"
							ng-change="updateUrlToBeInvoked()" required 
							title="Client ID provided from the API Portal for this application."/>
					</div>

					<label class="input-sm control-label col-xs-2" for="tokenServerUrl">Access
						Token URL*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.tokenServerUrl"
							class="form-control input-sm" id="tokenServerUrl" required
							title="URL of the OAuth Server's token endpoint." />
					</div>
				</div>

				<!--  Third row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="clientSecret">Client
						Secret*:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.clientSecret"
							class="form-control input-sm" id="clientSecret" required 
							title="Client secret provided from the API Portal for this application."/>
					</div>


					<label class="input-sm control-label col-xs-2" for="scope">Scope:</label>
					<div class="input-xs col-xs-4">
						<input type="text" ng-model="oauthData.scope"
							class="form-control input-sm" id="scope" title="Optional. Provide URL encoded value for the scope parameter e.g. openid%20email" 
							ng-change="updateUrlToBeInvoked()" />
					</div>
				</div>

				<!--  4th row -->
				<div class="form-group">
					<label class="input-sm control-label col-xs-2" for="urlToBeInvoked">Result URL:</label>
					<div class="input-xs col-xs-10">
						<textarea class="form-control" rows="1" id="urlToBeInvoked"
						title="The URL of the OAuth Server, which will be invoked for requesting authorization code. You may manually edit it before submitting the form. You may want to add additional URL parameters like this: &parameter=value"
						ng-model="oauthData.urlToBeInvoked"></textarea>

					</div>

				</div>
				<!--  5th row -->
				<div class="form-group">
					<div class="col-xs-2"></div>
					<div class="input-xs col-xs-4">
						<input type="submit" class="btn btn-primary pull-left input-xs"
							value="Get Authorization Code" />
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>