<div class="form-group">
  <label for="request">HTTP Request Information:</label>
  <textarea class="form-control" rows="3" id="request" readonly
  title="Information about the last HTTP request sent by the application.">{{main.conversation.request}}</textarea>
</div>