<div class="form-group ">
  <label for="response">HTTP Response Information:</label>
  <textarea class="form-control" rows="3" id="response" readonly
  title="Information about the last HTTP response received by the application.">{{main.conversation.response}}</textarea>
</div>