.ng-invalid.ng-dirty {
	border-color: red;
}
.ng-valid.ng-dirty {
 	border-color: green;
}

body, html, #container {
 	height: 100%;
}

#top_div {
	height:65%;
	width:100%;
	margin:auto;
	overflow-y:auto; 
}

#bottom_div {
	height:35%;
	width:100%;
	margin:auto;
	border-top: 1px solid black;
	overflow-y:auto; 
}